.message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.message > img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid rgb(35, 142, 168);
}

.message__timestamp {
  margin-left: 5px;
  color: gray;
  font-weight: 400;
  font-size: 12px;
}

.message__info {
  padding-left: 10px;
}
